<div fxFlexFill fxLayout="column" fxLayoutAlign="start start">
  <header fxFlexFill fxFlex="8">
    <nav fxFlexFill fxLayout="row">
      <a href="/"><img src="../assets/mail.png" routerLink="/admin" /></a>
      <a href="/"><img src="../assets/insta.png" /></a>
      <a href="/"><img src="../assets/pinterest.png" /></a>
    </nav>
  </header>
  <main class="container" fxFlexAlign="center" fxFlex="92">
    <mat-grid-list [cols]="grid.cols" [gutterSize]="grid.gutterSize">
      <mat-grid-tile *ngFor="let image of images">
        <img
          routerLink="/{{ image.projectId }}"
          class="tiles pointer"
          src="{{ image.url }}"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </main>
</div>
