<div fxFlexFill fxLayout="column">
  <main fxFlexFill fxFlex="90" fxFlexAlign="center">
    <mat-grid-list [cols]="grid.cols" [gutterSize]="grid.gutterSize">
      <mat-grid-tile *ngFor="let image of vignettes">
        <img
          routerLink="/{{ image.projectId }}"
          class="tiles pointer"
          src="{{ image.url }}"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </main>
  <footer fxFlex="10" fxLayoutAlign="center center">
    <span>© Dimitri Grangeon</span>
  </footer>
</div>
