<div class="container">
  <div>
    <button mat-icon-button (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div fxFlex></div>
    <div *ngIf="(project$ | async)?.status === 'draft'">
      <button mat-stroked-button (click)="publish()">Publier</button>
    </div>
    <div *ngIf="(project$ | async)?.status === 'published'">
      <button mat-stroked-button (click)="unpublish()">Retirer du site</button>
    </div>
  </div>
  <!---------------------   HEADER  --------------------->
  <header fxLayoutAlign="start center">
    <h2>Projet</h2>
    <div
      class="icon-text"
      fxFlex
      *ngIf="(project$ | async)?.status === 'published'"
    >
      <mat-icon>check_circle</mat-icon> <span>Projet publié</span>
    </div>
    <div fxFlex></div>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>

    <nav *ngIf="project$ | async as project">
      <button
        mat-button
        [routerLink]="['/admin', project.id, 'view']"
        type="submit"
        (click)="save()"
      >
        Prévisualiser
      </button>
    </nav>

    <button mat-button type="submit" (click)="save()">Sauvegarder</button>
  </header>
  <!---------------------   FORM  --------------------->
  <section class="vignette">
    <app-uploader type="vignette"></app-uploader>
  </section>
  <form [formGroup]="newProject" (ngSubmit)="onSubmit()">
    <h3>
      <mat-form-field class="titre">
        <mat-label>Titre</mat-label>
        <input matInput type="text" formControlName="title" />
      </mat-form-field>
    </h3>

    <p>
      <mat-form-field class="description">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
    </p>
  </form>
  <!-------------------   UPLOAD BOX  ------------------->
  <section class="upload-box">
    <app-uploader type="image"></app-uploader>
  </section>
  <!---------------------   IMAGES  --------------------->
  <section *ngIf="images$ | async as images">
    <article *ngFor="let image of sortByPosition(images)">
      <h3 *ngIf="!!!image.position && image.position !== 0">
        En cours de positionnement...
      </h3>
      <h3 *ngIf="image.position || image.position === 0">
        Image {{ image.position! + 1 }}
      </h3>
      <button mat-icon-button (click)="moveImage(image, -1)">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button mat-icon-button (click)="moveImage(image, 1)">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteImgAndRepositionImages(image)">
        <mat-icon>delete</mat-icon>
      </button>
      <div>
        <img src="{{ image.url }}" />
      </div>
    </article>
  </section>
</div>
