@import "~@angular/flex-layout/mq";

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

p {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

span {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 12px;
  @include layout-bp(xs) {
    font-size: 14px;
  }
  @include layout-bp(sm) {
    font-size: 12px;
  }
  @include layout-bp(xl) {
    font-size: 12px;
  }
}

.app-container {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  @include layout-bp(lt-sm) {
    width: 90%;
    margin: 0 auto;
  }
}

