@import "~@angular/flex-layout/mq";

html {
  height: 100%;
}
body {
  height: calc(100% - 2rem);
  margin-top: 2rem;
  margin-right: 12rem;
  margin-left: 12rem;
}

h1 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

p {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

span {
  font-size: 12px;
  @include layout-bp(xs) {
    font-size: 14px;
  }
  @include layout-bp(sm) {
    font-size: 12px;
  }
  @include layout-bp(xl) {
    font-size: 12px;
  }
}

.container {
  height: 100%;
  width: 87.5%;
  margin: 0 auto;
}
