<button mat-icon-button (click)="back()">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<div class="container" cdkDropListGroup>
  <ng-container *ngFor="let vignette of vignettes$ | async; let i = index">
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="{ item: vignette, index: i }"
    >
      <div cdkDrag class="tiles">
        <img class="tiles" src="{{ vignette.url }}" />
      </div>
    </div>
  </ng-container>
</div>
